<!-- myapp/templates/calculate_salary.html -->

{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title text-center">수당 계산</h1>
            <form method="post" action="{% url 'calculation:calculate_salary' %}">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary btn-block mt-3">계산하기</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}