{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <form action="" method="get">
        <div class="form-row">
          <div class="col">
            <input type="text" class="form-control" name="apartment_name" placeholder="아파트 이름">
          </div>
          <div class="col">
            <input type="date" class="form-control" name="start_date" placeholder="거래 시작일">
          </div>
          <div class="col">
            <input type="date" class="form-control" name="end_date" placeholder="거래 종료일">
          </div>
          <div class="col">
            <button type="submit" class="btn btn-primary">검색</button>
          </div>
          <div class="col">
            <a href="?pyung=True" class="btn btn-secondary">평 단위 전환</a>
          </div>
        </div>
      </form>
    </div>
    {% for row in data %}
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">{{ row.아파트 }}</h5>
            {% if pyung %}
              <h6 class="card-subtitle mb-2 text-muted">{{ row.전용면적_평 }}평</h6>
            {% else %}
              <h6 class="card-subtitle mb-2 text-muted">{{ row.전용면적 }}m²</h6>
            {% endif %}
            <p class="card-text">{{ row.거래금액 }}만원</p>
            <p class="card-text">층: {{ row.층 }}</p>
            <p class="card-text">거래일: {{row.거래일자}}</p>
          </div>
        </div>
      </div>
    {% empty %}
      <p>조건에 맞는 데이터가 없습니다.</p>
    {% endfor %}
  </div>
{% endblock %}
