{% extends "base.html" %}

{% block content %}
  <div class="row">
    {% for row in data %}
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">{{ row.아파트 }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ row.전용면적 }}m²</h6>
            <p class="card-text">{{ row.거래금액 }}만원</p>
            <p class="card-text">층: {{ row.층 }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}