{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block content %}
  <div class="container my-4 mx-auto">
    <hr>
    <div class="d-flex flex-wrap">
      {% for post in posts %}
        <div class="card mb-4 mx-2" style="width: 18rem;">
          <a href="{% url 'Posts:post_detail' pk=post.pk %}" style="text-decoration: none; color: inherit;">
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">{{ post.content|striptags|safe }}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{ post.pub_date }}</small>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
