{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block style %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<style>
  .emoji {
    font-size: 20px;
  }

  img {
    padding: 0;
    display: block;
    margin: 0 auto auto 0;
    height: 100%; /* Adjust the height as needed */
    width: 100%;  /* Adjust the width as needed */
    cursor: pointer;
  }
   .comment-card {
  background-color: #f5f5f5;
  margin-bottom: 15px;
}
.comment-card .card-body {
  padding: 10px 15px;
}

.comment-card .card-title {
  font-size: 16px;
  margin-bottom: 5px;
}

.comment-card .card-title small {
  font-size: 14px;
}

.comment-card .card-text {
  font-size: 14px;
  margin-bottom: 0;
}

.comment-card .card-footer {
  background-color: #f5f5f5;
  border-top: none;
  font-size: 12px;
  padding: 5px 15px;
}

.comment-card .card-footer small {
  float: right;
  text-align: right;
}

  #imageModal {
    display: none; /* 기본적으로 모달은 숨겨져 있음 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
  }

  .modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
  }

  .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }


</style>
{% endblock %}
{% block content %}
<div class="container my-5">
  <div class="row">
    <div class="col-md-12">
      <h2 class="mb-3">{{ post.title }}</h2>
      <div class="d-flex justify-content-between align-items-center mb-4" style="border:3px; background-color: #f5c2c2; padding: 10px; border-radius: 5px;">
        <small class="text-muted" style="margin-right: 10px;"><span class="emoji" style="font-size: 15px;">👤</span> {{ post.author }} ({{ post.author_ip }})</small>
        <div class="d-flex flex-wrap align-items-center">
          <small class="text-muted mr-3"><span class="emoji" style="font-size: 15px;">🕒</span> {{ time }}</small>
          <div class="dropdown">
            <a class="" href="#" role="button" id="postMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v"></i>
            </a>

            <div class="dropdown-menu" aria-labelledby="postMenuButton">
              <a class="dropdown-item" id="btn-edit"  data-toggle="modal" data-target="#myModal">수정</a>

              <a class="dropdown-item delete-post" href="{% url 'Posts:delete_post' pk=post.id %}" data-post-id="{{ post.pk }}">삭제</a>
            </div>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">비밀번호 입력</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form id="password-form" action = "{% url 'Posts:post_update' pk=post.id %}">
                      {% csrf_token %}
                      <div class="form-group row">
                        <label for="password-input" class="col-sm-3 col-form-label">비밀번호</label>
                        <div class="col-sm-9">
                          <input type="password" name="password" class="form-control" id="password-input" required>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary" id="password-confirm">확인</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% with img_tags=post.content|safe|urlize %}
      {% for img_tag in post.content|safe|findall:'<img[^>]+src="([^">]+)"[^>]*>' %}
      <img class="post-image" src="{{ img_tag.0 }}" alt="post-image" onclick="displayPostImage('{{ img_tag.0 }}')">
    {% endfor %}
      <p class="lead" style="margin-top: 20px;">{{ post.content|safe }}</p>
    </div>
  </div>
  
  <div class="row my-5">
    <div class="col-md-12">
      <hr class="my-4">

      <h4 class="mb-4">{{ comment_count }} 개의 댓글</h4>
      {% for comment in comment_list %}
      <div class="card comment-card"id = 'comment-{{comment.id}}'>
        {% if comment.is_deleted %}
        <div class="card-body">
          <p style="color: red;">삭제된 댓글입니다.</p>
        </div>
        {% else %}
        <div class="card-body" >
          <div>
            <span class="emoji" style="font-size: 15px;">👤</span> 
            <span class="card-title">{{ comment.author }}
              <small class="text-muted"> ({{ comment.author_ip }})
              </small>
            </span>
            <div class="dropdown float-right">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">수정</a>
                
                <a class="dropdown-item" onclick="showDeleteConfirmation({{comment.id}})">삭제</a>
                
              </div>
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="myModalLabel">비밀번호 입력</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form id="password-form">
                        {% csrf_token %}
                        <div class="form-group row">
                          <label for="password-input" class="col-sm-3 col-form-label">비밀번호</label>
                          <div class="col-sm-9">
                            <input type="password" name="password" class="form-control" id="password-input" required>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                      <button type="button" class="btn btn-primary" id="password-confirm">확인</button>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
          <br>
          <p class="card-text">{{ comment.content|safe }}</p>

        </div>
        <div class="card-footer">
          <small>{{ comment.time }}</small>
        </div>
        {% endif %}
      </div>
    
      {% empty %}
      <p>댓글이 없습니다.</p>
      {% endfor %}
    </div>
  </div>

<!-- 댓글 작성 폼 -->
<div id="comment-form-wrapper" style="background-color: #f5c2c2; padding: 20px; border-radius:15px;">

  <form id="comment-form" method="post">
    {% csrf_token %}
    <div class="form-group row">
      <label for="{{ form.author.id_for_label }}" class="emoji" style="font-size: 20px; margin-left:15px">👤</label>
      <div class="col-sm-3">
        
        <input type="text" required=True class="form-control" id="{{ form.author.id_for_label }}" name="{{ form.author.name }}" maxlength="{{ form.author.field.max_length }}" required, placeholder="닉네임">
      
      </div>
      <label for="{{ form.password.id_for_label }}" class="emoji" style="font-size: 20px;">🔒</label>
      <div class="col-sm-3">
    
        <input type="password" required=True name="{{ form.password.name }}" id="{{ form.password.id_for_label }}" class="form-control" placeholder="비밀번호 입력">
      </div>
    </div>
    <div class="form-group column">
      <textarea name="content" placeholder="내용" class="form-control" style="height: 100px;", required=True></textarea>
      <div style=" margin-top:10px"><button type="submit" class="btn btn-primary" style="  display: block;
        margin-left: auto;
        margin-right: 0;">작성</button></div>

      
    </div>

  </form>
</div>
<div id="imageModal" class="modal">
  <span class="close" onclick="closeImageModal()">&times;</span>
  <img class="modal-content" id="modalImage">
</div>

{% endblock %}

{% block script %}
<script>
  function displayPostImage(imgSrc) {
    var modal = document.getElementById('imageModal');
    var modalImg = document.getElementById('modalImage');
    modal.style.display = 'block';
    modalImg.src = imgSrc;
  }

  // 이미지 확대 모달 닫기
  function closeImageModal() {
    var modal = document.getElementById('imageModal');
    modal.style.display = 'none';
  }
tinymce.init({
    selector: "textarea",
    theme: "modern",
    height: 500,
    paste_data_images: true,
    plugins: [
        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
        "searchreplace wordcount visualblocks visualchars code fullscreen",
        "insertdatetime media nonbreaking save table contextmenu directionality",
        "emoticons template paste textcolor colorpicker textpattern"
    ],
    toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
    toolbar2: "print preview media | forecolor backcolor emoticons",
    image_advtab: true,
    file_picker_callback: function (callback, value, meta) {
        if (meta.filetype == 'image') {
            $('#upload').trigger('click');
            $('#upload').on('change', function () {
                var file = this.files[0];
                var reader = new FileReader();
                reader.onload = function (e) {
                    callback(e.target.result, {
                        alt: ''
                    });
                };
                reader.readAsDataURL(file);
            });
        }
    },
    templates: [{
        title: 'Test template 1',
        content: 'Test 1'
    }, {
        title: 'Test template 2',
        content: 'Test 2'
    }]
});

</script>
<script>
  function showDeleteConfirmation(commentId) {
    const password = prompt("비밀번호를 입력하세요:", "");
    var data = new FormData();
    data.append('password', password);
    if (password != null) {
      const url = "/posts/" + "comment/" + commentId + "/delete/";
      const csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
      const xhr = new XMLHttpRequest();
      xhr.open("POST", url, true);
      xhr.setRequestHeader("X-CSRFToken", csrf_token);
      xhr.onload = function () {
        if (xhr.status === 200) {
          const commentElement = document.getElementById("comment-" + commentId);
          commentElement.parentNode.removeChild(commentElement);
          alert("댓글이 삭제됐습니다.")
        } else {
          alert("비밀번호가 틀렸습니다.");
        }
      };
      xhr.send(data);
    }
  }

  
</script>
<script>
  $("#password-confirm").on("click", function(e) {
    e.preventDefault();

    var password = $("#password-input").val();
    var post_password = "{{ post.password }}";
    if (password === post_password) {
      window.location.href = "/posts/" + "post/" + {{post.id}} + "/update/";
    } else {
      alert('비밀번호가 일치하지 않습니다.');
      $("#password-input").val('');
    }
  });
</script>


  
{% endblock %}